.video-section4 {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .background-video4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #opp{
    margin-top: 40%;
    text-align: center;
    color: red;
    font-size: 36px;
    max-zoom: 800px;
  }
  #oopp{
    color: black;
    font-size: 25px;
  }
  .content26 {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 1;
  }  